# ignore compiled Python files
__pycache__/
*.pyc

# ignore Python eggs and package info
*.egg-info/
dist/
build/
*.egg
*.egg-info
.eggs
.cache

# ignore log files
*.log

# ignore environment variables
*.env
.env.*
*.env.*.local

# ignore Visual Studio Code specific files
.vscode/

# ignore data directory
data/

# ignore jupyter notebooks
.ipynb_checkpoints/
*.ipynb

# ingnore devcontainer
.devcontainer/

# ignore the config file
config.py
code/src/visualization/mask_names.py

# ignore the model output
*.pt